pkgbase = gcx-bin
	pkgdesc = A CLI for managing Grafana Cloud resources, optimized for agentic usage (prebuilt binary)
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/grafana/gcx
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = gcx
	conflicts = gcx
	options = !strip
	options = !debug
	source_x86_64 = gcx-bin-0.4.1-x86_64.tar.gz::https://github.com/grafana/gcx/releases/download/v0.4.1/gcx_0.4.1_linux_amd64.tar.gz
	sha256sums_x86_64 = c6d8a32a08deff87ed2e786af13ab37e45cf51ffae2d9ab35be7c5e298316be2
	source_aarch64 = gcx-bin-0.4.1-aarch64.tar.gz::https://github.com/grafana/gcx/releases/download/v0.4.1/gcx_0.4.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 08aed01e063193273f2cd47d635287d806e940aaa9768c6b41a3eb625f37b519

pkgname = gcx-bin
