pkgbase = gcx
	pkgdesc = A CLI for managing Grafana Cloud resources, optimized for agentic usage
	pkgver = 0.4.3
	pkgrel = 1
	url = https://github.com/grafana/gcx
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go>=1.26.2
	options = !debug
	source = gcx-0.4.3.tar.gz::https://github.com/grafana/gcx/archive/refs/tags/v0.4.3.tar.gz
	sha256sums = 15e8583db128a28ef1e09c7028c43293ac185f1b86f4569cd17d8c8f34e46dd4

pkgname = gcx
