pkgbase = gcx
	pkgdesc = A CLI for managing Grafana Cloud resources, optimized for agentic usage
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/grafana/gcx
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go>=1.26.2
	options = !debug
	source = gcx-0.4.2.tar.gz::https://github.com/grafana/gcx/archive/refs/tags/v0.4.2.tar.gz
	sha256sums = 7a6f632afc58bfa017f5ad44854efd3e5c41069ca60b96576a52bd9c352985ec

pkgname = gcx
